---

import Main from "../layouts/Main.astro";---
<Main>
    <h1 class="text-5xl font-extrabold text-white">Page not found</h1>
    <p class="text-3xl font-extrabold text-white">Are you
        <a class="text-pink-400" href="/signin">logged in?</a> </p>
</Main>