---
import { app } from "../../firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import Post from "../../components/Post.astro";
import Main from "../../layouts/Main.astro";

interface Post {
  id: number;
  title: string;
  body: number;
  timestamp: Date;
}

const { id } = Astro.params;

if (!id) {
  return Astro.redirect("/404");
}

const db = getFirestore(app);
const postsRef = db.collection("posts");
const postSnapshot = await postsRef.doc(id).get();

if (!postSnapshot.exists) {
  return Astro.redirect("/404");
}

const post = postSnapshot.data() as Post;
---
<Main>

    <Post post={post} edit="false" self={true}/>
</Main>