---

---
<header>
    <nav>
        <div class="text-3xl text-white ">
            <ul class="flex float-right pr-1.5">
                <li><a href="/diaries/">Home</a></li>
                <li><a href="/diaries/publish">Publish</a></li>
                <li><a href="/diaries/postings">Postings</a> </li>
            </ul>
        </div>
    </nav>
</header>

<style>
    li a {
        padding-right: calc(var(--spacing) * 4);;
    }
    header {
        margin-top: calc(var(--spacing) * 4);
    }
</style>