---
import Post from "../components/Post.astro";

const { edit } = Astro.props;

let posts = [];
let error = null;

try {
  const res = await fetch(import.meta.env.SITE + '/api/posts');
  if (!res.ok) throw new Error('Failed to load posts');
  posts = await res.json();
} catch (err) {
  console.error("Error loading posts:", err);
  error = "Posts cannot be displayed.";
}
---
<h1 class="text-5xl pd-3 emphasis">Posts</h1>

{error ? (
<p class="text-red-500 mt-4">{error}</p>
  ) : (
<ul>
  {posts.map((post: any) => (
          <Post post={post} edit={edit} />
  ))}
</ul>
  )}
