---
import '../styles/global.css';
import Navbar from "../components/Navbar.astro";
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Diary</title>
</head>
<body>
    <Navbar>
    </Navbar>

    <main>
        <slot />
    </main>
</body>
</html>

